# === General Ignore Rules ===
.DS_Store
Thumbs.db


# === Backend (Django) Ignore Rules ===
kudos_backend/venv/

kudos_backend/kudos/__pycache__/
kudos_backend/kudos/kudos/__pycache__/
kudos_backend/kudos/*.pyc
kudos_backend/kudos/*.pyo
kudos_backend/kudos/*.pyd
kudos_backend/kudos/.env
kudos_backend/kudos/db.sqlite3
kudos_backend/kudos/staticfiles/
kudos_backend/kudos/media/
kudos_backend/kudos/config.json


kudos_backend/kudos/api/__pycache__/
kudos_backend/kudos/api/*.pyc
kudos_backend/kudos/api/*.pyo
kudos_backend/kudos/api/**/*.pyc
# === Celery Ignore ===
kudos_backend/kudos/celerybeat-schedule.*

# === Frontend (React) Ignore Rules ===
kudos_frontend/node_modules/
kudos_frontend/build/
kudos_frontend/dist/
kudos_frontend/npm-debug.log
kudos_frontend/yarn-error.log
kudos_frontend/.env

# === Docker Ignore ===
docker-compose.override.yml
.env
